{% extends "_admin_base.html" %}
{% block title %} Delete Income {% endblock %}

{% block content %}
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Budget: Delete Income</h1>

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Delete Income</h5>
                    </div>
                    <div class="card-body">
                        {% url 'budget:item_list' as list_all %}

                        <div class="container d-flex justify-content-center mt-5" style="width: 50%;">
                            <div class="col mt-5 text-center">
                                <p class="h5">Are you sure you want to delete the Income:</p>
                                <h3 class="my-5">{{ income.concept }}</h3>
                                <form action="" method="POST">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary btn-lg" value="Confirm"
                                           style="margin-right: 30px; margin-top: 30px;">
                                    <input type="submit" class="btn btn-danger btn-lg" style="margin-top: 30px;"
                                           onclick="window.location='{{ list_all }}'; return false;" value="Cancel">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
